.loaderContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.21);
    color: white;
}
.loader{
    animation: rotate 2s linear infinite normal;
}
@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}